@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/arvores.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Arvores</legend>
    @Html.Hidden("ID_ARV")
        <div class="control-group">
            <label class="control-label" for="COD_PROD">Cod Prod</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_PROD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="LOTE_ARV">Lote Arv</label>
            <div class="controls">
                @Html.EditorFor(model => model.LOTE_ARV)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="OBS_ARV">Obs Arv</label>
            <div class="controls">
                @Html.EditorFor(model => model.OBS_ARV)
            </div>
        </div>
    </fieldset>
</form>
