@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/codigobarras.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Codigo Barras</legend>
    @Html.Hidden("ID_BAR")
        <div class="control-group">
            <label class="control-label" for="COD_BAR">Cod Bar</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_BAR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_PROD">Cod Prod</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_PROD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PRINCIPAL_CDBR">Principal Cdbr</label>
            <div class="controls">
                @Html.EditorFor(model => model.PRINCIPAL_CDBR)
            </div>
        </div>
    </fieldset>
</form>
