@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/itensnotafiscal.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Itens Nota Fiscal</legend>
    @Html.Hidden("ID_ITNF")
        <div class="control-group">
            <label class="control-label" for="ID_NF">Id Nf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_NF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_VLPR">Id Vlpr</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_VLPR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_PDLS">Id Pdls</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_PDLS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_VEND">Cod Vend</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_VEND)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_LCES">Cod Lces</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LCES)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CFOP_NTOP">Cfop Ntop</label>
            <div class="controls">
                @Html.EditorFor(model => model.CFOP_NTOP)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ORIG">Id Orig</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ORIG)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_UF_OP_ITNF">Id Uf Op Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_UF_OP_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_SITB_ICMS">Id Sitb Icms</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_SITB_ICMS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_SITB_IPI">Id Sitb Ipi</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_SITB_IPI)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_SITB_PIS">Id Sitb Pis</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_SITB_PIS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_SITB_COFINS">Id Sitb Cofins</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_SITB_COFINS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_MDPD">Id Mdpd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_MDPD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_MDPD_ST">Id Mdpd St</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_MDPD_ST)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_MDSP">Id Mdsp</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_MDSP)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_CID_ISSQN_ITNF">Id Cid Issqn Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_CID_ISSQN_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ITEM_ITNF">Item Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ITEM_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="TIPO_ITNF">Tipo Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.TIPO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COMANDA_ITNF">Comanda Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.COMANDA_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="HORA_ITNF">Hora Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.HORA_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QTDE_ITNF">Qtde Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QTDE_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FATURADO_ITNF">Faturado Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.FATURADO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PRECO_ITNF">Preco Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PRECO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESCONTO_ITNF">Desconto Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESCONTO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FRETE_ITNF">Frete Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.FRETE_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="SEGURO_ITNF">Seguro Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.SEGURO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESP_ACESSORIA_ITNF">Desp Acessoria Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESP_ACESSORIA_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CONDICIONAL_ITNF">Condicional Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.CONDICIONAL_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PROP_DESCONTO_ITNF">Prop Desconto Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PROP_DESCONTO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PADRAO_DESCONTO_ITNF">Padrao Desconto Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PADRAO_DESCONTO_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="INDTOT_ITNF">Indtot Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.INDTOT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMS_ITNF">Bicms Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PICMS_ITNF">Picms Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PICMS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMS_ITNF">Icms Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RICMS_ITNF">Ricms Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.RICMS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BOPICMS_ITNF">Bopicms Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BOPICMS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RICMSST_ITNF">Ricmsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.RICMSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="MVA_ICMSST_ITNF">Mva Icmsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.MVA_ICMSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMSST_ITNF">Bicmsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PICMSST_ITNF">Picmsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PICMSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMSST_ITNF">Icmsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMSST_UF_EMIT_ITNF">Bicmsst Uf Emit Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMSST_UF_EMIT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMSST_UF_EMIT_ITNF">Icmsst Uf Emit Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMSST_UF_EMIT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMSST_UF_DEST_ITNF">Bicmsst Uf Dest Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMSST_UF_DEST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMSST_UF_DEST_ITNF">Icmsst Uf Dest Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMSST_UF_DEST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMSST_ANT_ITNF">Bicmsst Ant Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMSST_ANT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMSST_ANT_ITNF">Icmsst Ant Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMSST_ANT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="SELO_IPI_ITNF">Selo Ipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.SELO_IPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QSELO_IPI_ITNF">Qselo Ipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QSELO_IPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ENQ_IPI_ITNF">Enq Ipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ENQ_IPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CNPJ_PRODUTOR_IPI_ITNF">Cnpj Produtor Ipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.CNPJ_PRODUTOR_IPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CALCULO_IPI">Calculo Ipi</label>
            <div class="controls">
                @Html.EditorFor(model => model.CALCULO_IPI)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BIPI_ITNF">Bipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BIPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PIPI_ITNF">Pipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PIPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QIPI_ITNF">Qipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QIPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VIPI_ITNF">Vipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.VIPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IPI_ITNF">Ipi Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.IPI_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CALCULO_PIS">Calculo Pis</label>
            <div class="controls">
                @Html.EditorFor(model => model.CALCULO_PIS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BPIS_ITNF">Bpis Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BPIS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PPIS_ITNF">Ppis Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PPIS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QPIS_ITNF">Qpis Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QPIS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PIS_ITNF">Pis Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PIS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CALCULO_PISST">Calculo Pisst</label>
            <div class="controls">
                @Html.EditorFor(model => model.CALCULO_PISST)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BPISST_ITNF">Bpisst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BPISST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PPISST_ITNF">Ppisst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PPISST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QPISST_ITNF">Qpisst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QPISST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PISST_ITNF">Pisst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PISST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CALCULO_COFINS">Calculo Cofins</label>
            <div class="controls">
                @Html.EditorFor(model => model.CALCULO_COFINS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BCOFINS_ITNF">Bcofins Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BCOFINS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PCOFINS_ITNF">Pcofins Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PCOFINS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QCOFINS_ITNF">Qcofins Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QCOFINS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COFINS_ITNF">Cofins Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.COFINS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CALCULO_COFINSST">Calculo Cofinsst</label>
            <div class="controls">
                @Html.EditorFor(model => model.CALCULO_COFINSST)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BCOFINSST_ITNF">Bcofinsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BCOFINSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PCOFINSST_ITNF">Pcofinsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PCOFINSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QCOFINSST_ITNF">Qcofinsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QCOFINSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COFINSST_ITNF">Cofinsst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.COFINSST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BII_ITNF">Bii Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BII_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ADUII_ITNF">Aduii Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ADUII_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IOFII_ITNF">Iofii Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.IOFII_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="II_ITNF">Ii Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.II_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="OBS_ITNF">Obs Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.OBS_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="TISSQN_ITNF">Tissqn Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.TISSQN_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BISSQNST_ITNF">Bissqnst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.BISSQNST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PISSQNST_ITNF">Pissqnst Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.PISSQNST_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ISSQN_ITNF">Issqn Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ISSQN_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VLRMERC_ITNF">Vlrmerc Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.VLRMERC_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VLRTOT_ITNF">Vlrtot Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.VLRTOT_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QTDE_FATURADA_ITNF">Qtde Faturada Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QTDE_FATURADA_ITNF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QTDE_FATURAR_ITNF">Qtde Faturar Itnf</label>
            <div class="controls">
                @Html.EditorFor(model => model.QTDE_FATURAR_ITNF)
            </div>
        </div>
    </fieldset>
</form>
