@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/promocoes.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Promocoes</legend>
    @Html.Hidden("COD_PROM")
        <div class="control-group">
            <label class="control-label" for="DESC_PROM">Desc Prom</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESC_PROM)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QTDE_PROM">Qtde Prom</label>
            <div class="controls">
                @Html.EditorFor(model => model.QTDE_PROM)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VALOR_PROM">Valor Prom</label>
            <div class="controls">
                @Html.EditorFor(model => model.VALOR_PROM)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESCONTO_PROM">Desconto Prom</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESCONTO_PROM)
            </div>
        </div>
    </fieldset>
</form>
