@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/produtoslista.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Produtos Lista</legend>
    @Html.Hidden("ID_PDLS")
        <div class="control-group">
            <label class="control-label" for="COD_PROD">Cod Prod</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_PROD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_LISTA">Cod Lista</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LISTA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CUSTO_PDLS">Custo Pdls</label>
            <div class="controls">
                @Html.EditorFor(model => model.CUSTO_PDLS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="MARGEM_PDLS">Margem Pdls</label>
            <div class="controls">
                @Html.EditorFor(model => model.MARGEM_PDLS)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PRECO_PDLS">Preco Pdls</label>
            <div class="controls">
                @Html.EditorFor(model => model.PRECO_PDLS)
            </div>
        </div>
    </fieldset>
</form>
