@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/codigostributacaoecf.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Codigos Tributacao Ecf</legend>
    @Html.Hidden("ID_CTEC")
        <div class="control-group">
            <label class="control-label" for="ID_ECF">Id Ecf</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ECF)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_CDTR">Cod Cdtr</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_CDTR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COMANDO_CTEC">Comando Ctec</label>
            <div class="controls">
                @Html.EditorFor(model => model.COMANDO_CTEC)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="TIPOCOMANDO_CTEC">Tipocomando Ctec</label>
            <div class="controls">
                @Html.EditorFor(model => model.TIPOCOMANDO_CTEC)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="TAMCOMANDO_CTEC">Tamcomando Ctec</label>
            <div class="controls">
                @Html.EditorFor(model => model.TAMCOMANDO_CTEC)
            </div>
        </div>
    </fieldset>
</form>
