@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/pedidosvenda.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Pedidos Venda</legend>
    @Html.Hidden("ID_PDVD")
        <div class="control-group">
            <label class="control-label" for="NUMERO_PDVD">Numero Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.NUMERO_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_LOJA">Cod Loja</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LOJA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_CLI">Cod Cli</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_CLI)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESC_NTOP_PDVD">Desc Ntop Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESC_NTOP_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESC_NTOP_TRAN_PDVD">Desc Ntop Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESC_NTOP_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_OPER">Id Oper</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_OPER)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_VDA">Id Vda</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_VDA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_CDPG">Cod Cdpg</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_CDPG)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_VEND">Cod Vend</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_VEND)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_TRAN">Cod Tran</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_TRAN)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_VEIC">Id Veic</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_VEIC)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DATA_PDVD">Data Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.DATA_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="EMISSAO_PDVD">Emissao Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.EMISSAO_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CONDICIONAL_PDVD">Condicional Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.CONDICIONAL_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMS_PDVD">Bicms Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMS_PDVD">Icms Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMSST_PDVD">Bicmsst Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMSST_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMSST_PDVD">Icmsst Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMSST_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IPI_PDVD">Ipi Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.IPI_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IPIST_PDVD">Ipist Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.IPIST_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PIS_PDVD">Pis Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PIS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PISST_PDVD">Pisst Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PISST_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COFINS_PDVD">Cofins Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.COFINS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COFINSST_PDVD">Cofinsst Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.COFINSST_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VLRMERC_PDVD">Vlrmerc Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.VLRMERC_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FRETE_PDVD">Frete Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.FRETE_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="SEGURO_PDVD">Seguro Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.SEGURO_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESCONTO_PDVD">Desconto Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESCONTO_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESP_ACESSORIA_PDVD">Desp Acessoria Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESP_ACESSORIA_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VLRTOT_PDVD">Vlrtot Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.VLRTOT_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="OBS_PDVD">Obs Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.OBS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="TIPO_PDVD">Tipo Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.TIPO_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="STATUS_PDVD">Status Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.STATUS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ENPS_CLI_PDVD">Id Enps Cli Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENPS_CLI_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ENPS_ENT_PDVD">Id Enps Ent Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENPS_ENT_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ENPS_LOJA_PDVD">Id Enps Loja Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENPS_LOJA_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ENPS_RET_PDVD">Id Enps Ret Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENPS_RET_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ENPS_TRAN_PDVD">Id Enps Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENPS_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="II_PDVD">Ii Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.II_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BIRRF_PDVD">Birrf Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.BIRRF_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IRRF_PDVD">Irrf Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.IRRF_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BPREV_PDVD">Bprev Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.BPREV_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PREV_PDVD">Prev Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PREV_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RIPI_PDVD">Ripi Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.RIPI_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RPIS_PDVD">Rpis Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.RPIS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RCOFINS_PDVD">Rcofins Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.RCOFINS_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RCSLL_PDVD">Rcsll Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.RCSLL_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="MODFRETE_PDVD">Modfrete Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.MODFRETE_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="BICMS_TRAN_PDVD">Bicms Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.BICMS_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PICMS_TRAN_PDVD">Picms Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PICMS_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ICMS_TRAN_PDVD">Icms Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.ICMS_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="VALOR_TRAN_PDVD">Valor Tran Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.VALOR_TRAN_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PESOLIQ_PDVD">Pesoliq Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PESOLIQ_PDVD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="PESOBRT_PDVD">Pesobrt Pdvd</label>
            <div class="controls">
                @Html.EditorFor(model => model.PESOBRT_PDVD)
            </div>
        </div>
    </fieldset>
</form>
