@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/pedidostransito.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Pedidos Transito</legend>
    @Html.Hidden("ID_PDTR")
        <div class="control-group">
            <label class="control-label" for="ID_ENTR">Id Entr</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ENTR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_VLPR">Id Vlpr</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_VLPR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="QTDE_PDTR">Qtde Pdtr</label>
            <div class="controls">
                @Html.EditorFor(model => model.QTDE_PDTR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_ITEN">Id Iten</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_ITEN)
            </div>
        </div>
    </fieldset>
</form>
