@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/movimentos.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Movimentos</legend>
    @Html.Hidden("ID_MVNT")
        <div class="control-group">
            <label class="control-label" for="COD_LOJA">Cod Loja</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LOJA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DATA_MVNT">Data Mvnt</label>
            <div class="controls">
                @Html.EditorFor(model => model.DATA_MVNT)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CONTROLE_MVNT">Controle Mvnt</label>
            <div class="controls">
                @Html.EditorFor(model => model.CONTROLE_MVNT)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_OPER">Id Oper</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_OPER)
            </div>
        </div>
    </fieldset>
</form>
