@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/listasloja.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Listas Loja</legend>
    @Html.Hidden("ID_LSLJ")
        <div class="control-group">
            <label class="control-label" for="COD_LOJA">Cod Loja</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LOJA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_LISTA">Cod Lista</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LISTA)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CPOPRECO_LILJ">Cpopreco Lilj</label>
            <div class="controls">
                @Html.EditorFor(model => model.CPOPRECO_LILJ)
            </div>
        </div>
    </fieldset>
</form>
